* {
    margin: 0;
    padding: 0;
}


/*The css here is only meant to mess with the benefit landing page*/
html:not(.avada-has-site-width-percent) body.page-id-6943 #main {
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
    padding: 0 !important;
  }

  html:not(.avada-has-site-width-percent) body.page-id-6943 #main .fusion-row{
    min-width: 100% !important;
  }