.confidence-title{
    font-size: 36px;
    padding: 20px;
    text-align: center;
    color: white;
}

.star{
    height: 118px;
    aspect-ratio: 1/1;
}

.image-wrapper{
    object-fit: fill;
    height: auto;
    width: auto;
    display: flex;
}

.image-wrapper img{
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer-one{
    display:flex;
    gap: 10px;
}

.layer-two{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.layer-two-left{
    flex: 1;
    color: white;
}

.layer-two-right{
    flex: 1;
    color: white;
}

.top-left-textbox,
.bottom-left-textbox{
    color:white;
}

.bold{
    font-weight: bold;
}

.layer-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px;
}

.layer-three > div{
    position: relative;
    overflow: hidden;
    display: flex;
}

.cell-1{
    grid-column: 1;
    grid-row: span 2;
    flex-direction: column;
}

.cell-1 .img-half{
    height: 50%;
    width: 100%;
}

.cell-1 .bg-half{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.cell-2{
    grid-column: 2 / span 2;
    grid-row: 1;
    flex-direction: row;
}

.cell-2 .img-half,
.cell-2 .bg-half{
    width: 50%;
    height: 100%;
}

.cell-3{
    grid-column: 2 / span 2;
    grid-row: 2;
    flex-direction: row;
}

.cell-3 .img-half,
.cell-3 .bg-half{
    width: 50%;
    height: 100%;
}

.cell-4{
    grid-column: 4;
    grid-row: span 2;
    flex-direction: column;
}

.cell-4 .img-half{
    height: 50%;
    width: 100%;
}

.cell-4 .bg-half{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.img-half img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

