@media screen and (max-width: 800px) {
    .eoy-donation .container{
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }

    .container .donation-hero {
        padding: 0 1em;
    }

    br {
        display: none;
    }
}

@media screen and (min-width: 801px){
    .eoy-donation .container {
        padding: 0;
    }

    .container .donation-hero:hover {
    background-size: 100%, 110%;
    background-position: center, top left;
    filter: opacity(100%), opacity(100%);
    
    background-image: 
        url('../../images/eoy-2025/Backgrounds/donation-patterns.png'), 
        url("../../images/eoy-2025/Backgrounds/BG-donations.png");
}
}
.eoy-donation .container{
    width: 100%;
    margin: 0 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;  
    padding-bottom: 0;
}
.container .donation-hero {
    height: 358px;
    align-self: stretch;
    border-radius: 19.122px;
    background-image: 
        url('../../images/eoy-2025/Backgrounds/donation-patterns.png'), 
        url("../../images/eoy-2025/Backgrounds/BG-donations.png");
    background-size: 200%, 150%;
    background-position: center, top left;
    filter: opacity(0%), opacity(100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    transition: background-size 1s ease, background-position 0.5s ease, filter 1s ease;
}

.donation-text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.donation-text h2 {
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2; /* 59.4px */
    letter-spacing: -1.188px;
    margin: 0 0;
}
.eoy-donation .donate {
    display: flex;
    width: 197px;
    height: 53px;
    padding: 0.5em 2em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FFF;
    border: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;   
}

.eoy-donation .donate:hover{
    cursor: pointer;
}

.container .donation-subtext {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.donation-subtext {
    color: #FFF;
    text-align: center;

    /* Desktop/Body 1 */
    font-family: Nunito;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex: 1 0 0;
}