p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.child h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.eoy-economic {
    display: flex;
padding: 1em;
flex-direction: column;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}
.eoy-economic .container{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
width: 100%;
}
.eoy-economic .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.eoy-economic .header {
    display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}
.eoy-economic .star {
    width: 118px;
    height: 118px;
}
.eoy-economic h2 {
    color: #FFF;

/* Desktop/Heading 2 */
font-family: "IBM Plex Sans", sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.792px;
}
.eoy-economic .main-text {
align-items: flex-start;
gap: 24px;
align-self: stretch;
}
.main-text li {
    color: #FFF;

/* Desktop/Body 1 */
font-family: Nunito;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.main-text p {
color: #FFF;
width: 50%;

/* Desktop/Body 1 */
font-family: Nunito;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.eoy-economic .subtext {
    display: flex;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}
.subtext p {
    color: #FFF;

/* Desktop/Caption */
font-family: Nunito;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
letter-spacing: -0.352px;
}
.eoy-economic .animation {
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 28.521px;
}

.person {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: color 0.6s ease, transform 0.6s ease;
            width: 30px;
height: 70px;
        }
        .peopleContainer {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            opacity: 0;
            transition: opacity 0.6s ease, transform 0.6s ease;
            row-gap: 20px;
        }
        .peopleContainer.show {
            opacity: 1;
        }
        .special {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(3, auto);
            align-self: end;
            
        }
        .special > .person:last-child {
            grid-row: 3;
            align-self: end;
        }
        .animationPeople {
            display: flex;
            padding-left: 10px;
            align-items: center;
            width: 100%;
        }
        .animationPeople > .peopleContainer {
            flex: 1;
            width: 100%;       
        }
        .stats {
            display: flex;
            justify-content: space-between;
            align-self: stretch;
        }
        .child {
            opacity:0;
            transition: opacity 0.6s ease, transform 0.6s ease;

        }
        .child p {
            width: 75%;
            text-align: left;

        }
        .child.show {
            opacity: 1;
        }
        .fortyOne {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
        }
        .fortyOne h3 {
            color: #FFC907;
font-family:"IBM Plex Sans", sans-serif;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .fortyOne p {
            color: #FFF;
font-family:"IBM Plex Sans", sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .thirtyThree {
            display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
        }
        .thirtyThree h3 {
            color: #ED1C65;
font-family:"IBM Plex Sans", sans-serif;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .thirtyThree p {
            color: #FFF;
font-family:"IBM Plex Sans", sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .eleven {
            display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
        }
        .eleven h3 {
            color: #4298D3;
font-family:"IBM Plex Sans", sans-serif;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .eleven p {
            color: #FFF;
font-family:"IBM Plex Sans", sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .five {
            display: flex;
padding-left: 10px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
        }
        .five h3 {
            color: #65469C;
font-family: "IBM Plex Sans", sans-serif;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
        .five p {
            color: #FFF;
font-family:"IBM Plex Sans", sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
        }
@media screen and (min-width: 801px) {
    .main-text {
        display: flex;
    }
}
@media screen and (max-width: 800px){
    .header {
        flex-direction: column;
        gap:16px;
    }
    .main-text {
        display:none;
    }
}
.carousel {
    width: 100%;
}
/* Carousel Template */
.carousel-container {
    overflow: hidden;
    display: none; /* This makes it hide in desktop view */
}
/* Carousel Scroller */
.carousel-scroller {
    display: flex;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start; 
    gap: 2rem;
}
/* Carousel Cards */
.carousel-card1 {
    display: flex;
    width: 100%; /* Makes each card stretch to the screen */
    min-height: 400px; /* Prevents the card from shrinking too much */
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-repeat: no-repeat; 
    border: 3px solid transparent;
    border-radius: 2em;
    scroll-snap-align: start;
    flex: 0 0 100%; 
    padding: 1rem;
}
/* The first carousel card uses a unique background */
.first-card1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), linear-gradient(142deg, #5EBF8D 0%, #D5B43A 100%);
}
.first-card1 p {
    color: #FFF;

/* Mobile/Body 1 */
font-family: Nunito;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.carousel-dots{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 1rem;
    height: 100px;
    border: #5EBF8D;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    &.active{
        background-color: white;
    }
}
@media screen and (max-width: 675px) {
    .carousel-container {
        display: flex;
        flex-direction: column;
    }
    .carousel-card1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
    }
    .carousel-dots{
        display: flex;
    }
}
.carousel-people1 .peopleContainer{
    color:#D5B43A;
    opacity: 1;
}