.eoy-effective .container {
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  margin: 0;
  background-color: black;
}

.eoy-header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header-image {
  width: 90px;
  height: auto;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.column-text {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  color: white;
}

.column-left,
.column-right {
  flex: 1;
  min-width: 250px;
}

.column-right ul {
  padding-left: 1.25rem;
  list-style-type: disc;
}

.overlay-image {
  max-width: 100%;
  max-height: 100%;
  border-bottom-right-radius: 120px;
}

.bottom-section {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.left-section {
  margin-right: 1px;
}

.associate {
  margin-top: 2.5rem;
  width: 539px;
  height: 304px;
  background: linear-gradient(90deg, #1b7dc1 11.54%, #694b9e 50%);
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 8.74px;
  border-top-left-radius: 200px;
  border-top-right-radius: 8.74px;
}

.mobile-container4 {
  height: 427px;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  background: #35373c;
}

.pie-item {
  display: flex; /* Each pie takes ~30% of the container width, adjusts on smaller screens */
  flex-direction: row; /* Ensure pie is left, text is right */

  align-items: center;
  width: 100%;

  color: white;
  gap: 20px;
}

.pie-chart {
  width: 100px; /* Make the image fill the width of its container */
}

.right-section {
  flex: 4;
  width: 100%;
  height: 100%;
}

.pie-right {
  display: flex;
  height: 150px;
  width: 150px;
  margin-bottom: 5rem;
}

.pie-70 {
  width: 189px;
}

.mobile-container {
  display: none;
}

.mobile-dots {
  display: none;
  justify-content: center;
  gap: 8px;
  margin-top: 1rem;
}

.mobile-dots .dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.mobile-dots .dot.active {
  background-color: white;
}

@media (max-width: 675px) {
  .header-title {
    width: 100%;
  }

  .header-image {
    width: 90px;
    height: auto;
  }

  .eoy-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .header-title {
    text-align: center;
  }

  /* MOBILE CAROUSEL VISIBLE */
  .mobile-container {
    display: flex !important;
    align-items: center;
    height: 427px;
    border-radius: 10px;
    background: linear-gradient(142.23deg, #b52f65 0%, #0b7ab6 100%);
    color: white;
    margin: 0 auto;
    position: relative;
    padding: 1.5rem;
  }

  .mobile-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 6px;
    background: linear-gradient(142.23deg, #b52f65 0%, #0b7ab6 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
  }

  .mobile-container4 {
    display: flex !important;
    padding: 1.5rem;
    align-items: center;
    height: 427px;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
    position: relative;
  }

  .mobile-container4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 6px;
    background: linear-gradient(142.23deg, #b52f65 0%, #0b7ab6 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
  }

  .mobile-container2 {
    display: flex;
    flex-direction: column;
    width: 10px !important;
    height: 427px;
    border-radius: 20px;
    background: #35373c;
    color: white;
    margin: 0 auto;
    position: relative;
  }

  .mobile-container2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 4px;
    background: linear-gradient(142.23deg, #0b7ab6 0%, #b52f65 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
  }
  .topPie {
    display: flex;
    flex-direction: row; /* change this */
    align-items: center; /* optional: keeps text centered vertically */
    margin-left: 60px;
    width: 390px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .pie-70-top {
    width: 35%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: #000000 0 0 60px 3px;
  }

  .top-text-container {
    display: flex;
    background: linear-gradient(90deg, #1b7dc1 11.54%, #694b9e 50%);
    margin-left: -25px;
    z-index: 0;
    padding-left: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 2.5rem;
    align-items: center;
    justify-content: center;
  }
  .top-text {
    line-height: 1.2rem;
  }

  .bottom-associate {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(90deg, #1b7dc1 11.54%, #694b9e 50%);
    border-top-left-radius: 100px;
    width: 100%;
    margin-top: auto;
  }
  .bottom-associate img {
    width: 80%;
    margin-top: -50px; /* makes the image rise out of the background */
  }

  .mobile-dots {
    display: flex;
  }

  .mobile-container p {
    color: white;
  }

  .bottom-section {
    display: none;
  }

  .column-text {
    display: none;
  }

  .container {
    width: 100%;
    padding-left: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .pie-text {
    flex: 1; /* Keeps text taking remaining space */
    font-size: 20px; /* Increase or adjust as needed */
  }

  .scroller-container {
    overflow: hidden; /* Hide scrollbar from parent */
  }

  .scroller {
    align-items: center;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 100%;
    justify-content: flex-start;
  }

  .scroller section {
    scroll-snap-align: start;
    flex: 0 0 100%;
    gap: 30px;
  }

  /* DISABLE HOVER EFFECTS ON MOBILE */
  .bottom-section:hover,
  .bottom-section:hover .associate img,
  .bottom-section:hover .description70,
  .bottom-section:hover .pie-description {
    transform: none !important;
    opacity: 1 !important;
  }
}

@media (min-width: 801px) and (max-width: 890px) {
  .description70 {
    display: none;
  }

  .textDesc {
    display: none;
  }

  .pie-description {
    display: none;
  }

  .left-section {
    width: 20%;
  }

  .right-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .pie-right {
    margin-bottom: 0;
    width: 90%;
    height: auto;
  }

  .mobile-dots {
    display: none;
  }

  .bottom-section {
    gap: 2rem;
  }

  .container {
    padding-bottom: 2rem !important;
  }

  .description70 {
    display: inline;
  }
  /*
  .bottom-section:hover {
    transform: none !important;
  }

  .bottom-section:hover .associate img {
    transform: none !important;
    opacity: 1 !important;
  }

  .bottom-section:hover .pie-description {
    display: none;
    opacity: 0 !important;
    transform: none !important;
  }

  */
  .scroll-item {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  /* When revealed */
  .scroll-item.revealed {
    opacity: 1;
    transform: translateY(0);
  }

  .scroller-container {
    display: none;
  }
}

@media (min-width: 891px) {
  .eoy-header {
    flex-direction: row;
  }

  .column-text {
    flex-direction: row;
  }

  .bottom-section {
    flex-direction: row;
  }

  .associate {
    width: 539px;
    height: 304px;
  }

  .mobile-dots {
    display: none;
  }

  .left-pie img {
    transition: transform 0.8s ease, opacity 0.8s ease;
  }

  .associate img {
    transition: transform 0.8s ease, opacity 0.8s ease;
  }

  .bottom-section:hover .associate img {
    transform: translateY(-15px) scale(1.1);
    opacity: 1;
  }

  .right-section img {
    transition: transform 0.8s ease, opacity 0.8s ease;
  }

  .bottom-section:hover {
    transform: scale(1.02);
    transition: transform 0.8s ease;
  }

  .pie-description {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-10px);
  }

  .pie-70 {
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: block;
  }

  .right-section {
    gap: 2rem;
  }

  .pie-right {
    width: 120px;
    height: auto;
  }

  .pie-description {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-10px);
    padding-bottom: 80px;
    color: white;
  }

  .left-pie {
    display: flex;
    align-items: center;
    z-index: 1;
    border-radius: 50%;
    box-shadow: #000000 0 0 40px 6px;
  }

  .description70 {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateX(-10px);
  }

  .left-pie-wrapper {
    display: flex;
    align-items: center;
  }

  .bottom-section:hover .description70 {
    opacity: 1;
    transform: translateX(0);
  }

  .bottom-section:hover .pie-description {
    opacity: 1;
    transform: translateX(0);
  }

  .description70 {
    display: flex;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, #1b7dc1 11.54%, #694b9e 50%);
    color: white;
    height: 7rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 3rem;
    margin-left: -40px;
    z-index: -1;
  }

  .scroller-container {
    display: none;
  }
}
