.eoy-effective .container {
    width: 100%;
    padding: 2rem 2rem 0 4rem;
    margin: 0;


}

.eoy-header {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-image {
    width: 90px;
    height: auto;
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.column-text {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    color: white;

}

.column-left,
.column-right {
    flex: 1;
    min-width: 250px;
}

.column-right ul {
    padding-left: 1.25rem;
    list-style-type: disc;
}

.overlay-image {
    max-width: 100%;
    max-height: 100%;
    border-bottom-right-radius: 120px;
}

.bottom-section {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;

}

.left-section {
    margin-right: 1px;
}

.associate {
    margin-top: 2.5rem;
    width: 539px;
    height: 304px;
    background: linear-gradient(90deg, #1B7DC1 11.54%, #694B9E 50%);
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 8.74px;
    border-top-left-radius: 200px;
    border-top-right-radius: 8.74px;



}

.right-section {
    flex: 4;
    width: 100%;
    height: 100%;
}

.pie-right  {
    display: flex;
    height: 150px;
    width: 150px;
    margin-bottom: 5rem;
}
.pie-70{
    width: 189px;
}
.mobile-container {
    display: none ;
}

.mobile-dots {
    display: flex;
    justify-content: center; 
    gap: 8px; 
    margin-top: 1rem;
    
}

.mobile-dots .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 50%; 
}

.mobile-dots .dot {
    background-color: white; 
}



@media (max-width: 800px) {
    .header-title{
        width: 100%;
    }
    .header-image{
        width: 90px;
        height: auto;
    }
    .eoy-header {
        display: flex;
        flex-direction: column; 
        align-items: center;   
        gap: 1rem;              
    }

    .header-title {
        text-align: center;     
    }

    .mobile-container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 450px;
        padding: 4rem 2.5rem;
        border-radius: 10px;



        background: linear-gradient(142.23deg, #B52F65 0%, #0B7AB6 100%);
        color: white;
        margin: 0 auto;

        position: relative;
    }

    .mobile-container::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        border-radius: 10px;
        padding: 4px; 
        background: linear-gradient(142.23deg, #0B7AB6 0%, #B52F65 100%);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        pointer-events: none;
    }

    .mobile-dots {
        display: flex;
    }

    .mobile-container p {
        color: white;
    }

    .bottom-section {
        display: none;
    }
    .column-text{
        display: none;
    }

    .container{
        padding-left: 2rem !important;
        padding-bottom: 2rem !important;
    }
    

}

@media (min-width: 801px) and (max-width: 890px) {
    .left-section {
        width: 20%;
    }

    .right-section {
        display: flex;
        flex-direction: row; 
        gap: 2rem;
    }

    .pie-right {
        margin-bottom: 0; 
        width: 28%; 
        height: 28%;
    }
    .mobile-dots {
        display: none;
    }
    .bottom-section{
        gap: 2rem;
    }
    .container{
        padding-bottom: 2rem !important;
    }


}

    


@media (min-width: 891px) {
    .eoy-header {
        flex-direction: row;
    }

    .column-text {
        flex-direction: row;
    }

    .bottom-section {
        flex-direction: row;
    }

    .associate {
        width: 539px;
        height: 304px;
    }
    .mobile-dots {
        display: none;
    }


}
