@media screen and (max-width:800px){
    .eoy-hero .container{
        width: 100%;
        align-items: center;
        /* background-image: url('../../images/eoy-2025/Texture.png');
        background-size: cover; */
        padding: 0 1.5em;
        margin: 0 0;    
    }

    .hero-marquee {
        display: flex;
        height: 411px;
        width: 100%;
    }

    .marquee-col{
        width: 50%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 0.5em;
    }

    .hero-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto 0;
        padding-top: 3em;
        padding-bottom: 4em;
    }
    .eoy-hero h2 {
        text-align: start;
    }
    .btn-donation{
        margin-top: 1em;
        background-color: white;
        border: transparent;
        color: black;
        padding: 1em 0;
        font-weight: 700;
        font-size: large;
    }
}

@media screen and (min-width:801px) {
    .eoy-hero .container{
        /* background-image: url('../../images/eoy-2025/Texture.png');
        background-size: cover; */
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: space-evenly;
        padding: 0 2em; 
        margin: 0 0;    
    }
    .hero-marquee {
        display: flex;
        width: 50%;
    }
    .marquee-col{
        width: 50%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 1em;
    }
    .hero-description {
        justify-content: center;
        width: 50%;
        margin: auto 0;
        padding: 2em 0;
        padding-left: 1em;
    }
    .btn-donation{
        margin-top: 1em;
        background-color: white;
        border: transparent;
        color: black;
        padding: 1em 4em;
        font-weight: 700;
        font-size: large;
    }
}

.eoy-hero h2, .eoy-hero p {
    color: white;
}

.eoy-hero h2 {
    margin-top: 0;
}

.eoy-hero p {
    font-weight: 300;
    padding-bottom: 1em;
}

.hero-description a {
    text-decoration: none;
    color: inherit;
}

.btn-donation:hover {
    cursor: pointer;
}

.marquee-images1, .marquee-images2 {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.marquee-images1{
    animation: scrolling 12s linear infinite;
}

.marquee-images2{
    animation: scrolling 12s reverse linear infinite;
}

@keyframes scrolling {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50.5%);
    }
}