.eoy-hero .container{
    background-color: black;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 2em; 
    margin: 0 0;    
}

.eoy-hero h2, .eoy-hero p {
    color: white;
}

.eoy-hero h2 {
    margin-top: 0;
}

.eoy-hero p {
    font-weight: 300;
}

.hero-marquee {
    border: 2px red solid;
    width: 49%;
}

.hero-description {
    justify-content: center;
    width: 49%;
    margin: auto 0;
}

.btn-donation{
    margin-top: 1em;
    background-color: white;
    border: transparent;
    color: black;
    padding: 1em 4em;
    font-weight: 700;
    font-size: large;
}