/* Desktop View */
.eoy-toc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, black, transparent);
    width: 100vw;
    margin: 0 0;
    padding: 0 0;
}

.eoy-toc .button-container {
    display: flex;
    column-gap: 0.7em;
    justify-content: center;
    background-color: #3e3c3c;
    border-radius: 3em;
    padding: 0.4em 0.4em;
    width: fit-content;
}

.eoy-toc .button-container a {
    text-decoration: none;
    color: inherit;
}

.eoy-toc button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 3em;
    font-size: x-large;
    font-weight: 800;
    padding: 0.5em 1.8em;
    line-height: 1;
    transition: 350ms;
}

.eoy-toc button:hover {
    color: white;
}
#btn-mustard:hover {
    background-color: #caa737;
    cursor: pointer;
}
#btn-violet:hover {
    background-color: #6a4b9a;
    cursor: pointer;
}
#btn-blue:hover {
    background-color: #0b7ab6;
    cursor: pointer;
}
#btn-cranberry:hover {
    background-color: #ce2459;
    cursor: pointer;
}

.eoy-toc h2 {
    color: white;
    text-align: center;
    white-space: normal !important;
}

/* Mobile View */
@media screen and (max-width: 899px) {
    .eoy-toc {
        row-gap: 1.5em;
    }
    .eoy-toc .button-container {
        display: none !important;
    }

    .eoy-toc button {
        display: none !important;
    }

    .eoy-toc h2 {
        text-align: start;
        max-width: 700px;
    }

    .eoy-toc br {
        display: none;
    }
}
